/* 
    Author     : Juan Garcia Villagran
    Source: https://www.happyhues.co/palettes/12
*/

/*
    Color de fondo
    Color de letra
    Conveniente añadir márgenes, paddings, etc
    Background Color: #232946
*/

html{
    background-color: #232946;
}

#id_cabecera {
    background-color: #b8c1ec;
    color: #fffffe;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.class_menu{
    background-color: #eebbc3;
    color: #232946;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #232946;
}

.class_TablaCatalogo{
    width: 60%;
    border: 10px solid green;
    caption-side:bottom;
    font-size:2.5ex;  
}

.class_TablaCatalogo th{
    background-color:red;
    color:white;
    height:25px;
    font-size:1.2em;  
}

.class_TablaCatalogo tr:nth-child(odd){
    background-color: pink;
    border: black 1px solid;
}

.class_TablaCatalogo tr{
    background-color: aquamarine;
    border: black 1px solid;
}

.class_InicioSesion{
    background-color: #fffffe;
    color: black;
}

.class_Categorias p{
    display:inline-block;
    background-color: #fffffe;
    border-radius: 2px;
    padding: 3px;
}

.class_Categorias ul{
    background-color: darkcyan;
    border-radius: 5px;
    display:none;
    list-style-type: upper-roman;
}

.class_Categorias p:hover + ul{
    display: block;
    border-bottom: 5px solid white;
    padding-bottom: 3px;
}


/*-------------- FORMULARIO --------------*/
.class_InicioSesion{
    background-color: bisque;
    border-radius: 5px;
    padding:5px;
}

.class_InicioSesion input{
    
}


/*-------------- FOOTER --------------*/
footer{
    background-color: wheat;
    border-radius: 10px;
    padding: 5px;
}